<h3>filter method using button</h3>
<button (click)="ranjith()">Ranjith</button>
<button (click)="hari()">Hari</button>
<button (click)="dinesh()">Dinesh</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listData">
      <td>{{list.name}}</td>
      <td>{{list.age}}</td>
      <td>{{list.phone}}</td>
      <td>{{list.location}}</td>
      <td>
         <!-- <button (click)="delete(i)">Delete</button> -->
      </td>
    </tr>
  </tbody>
</table>